.App {
  text-align: center;
}


.Wheel-holder {
  width: 700px;
  border-radius: 50%;
  border: 10px solid #777;
  margin: auto;
  position: relative;
}

.wheel-pointer {
  position: absolute;
  right: 0;
  top: 50%;
  border-width: 10px 20px 10px 0px;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: #777;
  border-style: solid;
}

.btn {
  margin-top: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
